<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="suppliers">
      <fa-icon [icon]="warehouse" size="lg"></fa-icon>
      <ion-label>Suppliers</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="customers">
      <fa-icon [icon]="userAstronaut" size="lg"></fa-icon>
      <ion-label>Customers</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="business">
      <fa-icon [icon]="projectDiagram" size="lg"></fa-icon>
      <ion-label>Business</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
